__pycache__
runs/
data/openwebtext/train.bin
data/openwebtext/val.bin
csv_logs/
logs/
# scripts/
vizier_report/
vizier_results/
input.txt
nov_arch_explore/results/head_top/1_synth_headtop.v
nov_arch_explore/results/head_top/1_synth_headtop.v
