# Core JAX and Flax with CPU backend (change if you use GPU)
flax==0.7.2
jaxtyping==0.2.25
equinox==0.10.4

# Torch ecosystem
torch
torchinfo==1.8.0

# Google Vizier with JAX backend
google-vizier[jax]

# Transformer stack
transformers==4.44.2
datasets==2.21.0
tiktoken==0.7.0

# Logging & visualization
wandb==0.18.3
tensorboard
tqdm
rich==13.9.2

# Plotting libraries
matplotlib
plotly==5.22.0
seaborn==0.13.2

# Numerical stack
numpy==1.26.0
pandas==2.2.3
scipy==1.14.1

# Misc tools
bitstring==4.2.3
mako
onnx==1.17.0
mamba_ssm==2.2.2
causal_conv1d>=1.5.0
